<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.app.mapper.TodoMapper">
  <select id="selectAll" resultType="com.todo.app.entity.Todo">
    select * from task_items
  </select>
  
  <select id="selectLatestTask" resultType="com.todo.app.entity.Todo">
    select * from task_items 
    where prc_date = (select max(prc_date) from task_items)
  </select>
  
  <select id="selectIncomplete" resultType="com.todo.app.entity.Todo">
  	select * from task_items where done_flg = 0
  </select>
  
  <select id="selectComplete" resultType="com.todo.app.entity.Todo">
  	select * from task_items where done_flg = 1
  </select>
  
  <insert id="add"  useGeneratedKeys="true" keyProperty="id" parameterType="com.todo.app.entity.Todo">
    insert into task_items (task, due, priority, refs)
    values (#{task},to_date(#{due},'yy-mm-dd'), #{priority}, #{refs})
  </insert>
  
  <update id="update" parameterType="com.todo.app.entity.Todo">
  update task_items set
  	title = #{title},
  	time_limit = to_date(#{time_limit}, 'yy-mm-dd'),
  	done_flg = #{done_flg}
  	where id = #{id}
  </update>
  
    <update id="updateTillToday" parameterType="com.todo.app.entity.Todo">
  update task_items set
  	till_today = #{tillTodayFlg}
  	where id = #{todoId}
  </update>
  
  <delete id="delete" parameterType="com.todo.app.entity.Todo">
  	delete from task_items where id = #{todoId}
  </delete>
</mapper>